## Ordinal numbering encoding or Label Encoding

Ordinal data is a categorical, statistical data type where the variables have natural, ordered categories and the distances between the categories is not known.

In [1]:
import pandas as pd
import datetime

In [3]:
date = datetime.datetime.today()
date

datetime.datetime(2020, 11, 21, 20, 23, 59, 369550)

In [10]:
print(datetime.timedelta(days=3))

3 days, 0:00:00

In [20]:
date_list = []
for x in range (0,20):
    date_list.append(date-datetime.timedelta(days=x))
    
df = pd.DataFrame(date_list)
df.columns = ['day']
df

                          day
0  2020-11-21 20:23:59.369550
1  2020-11-20 20:23:59.369550
2  2020-11-19 20:23:59.369550
3  2020-11-18 20:23:59.369550
4  2020-11-17 20:23:59.369550
5  2020-11-16 20:23:59.369550
6  2020-11-15 20:23:59.369550
7  2020-11-14 20:23:59.369550
8  2020-11-13 20:23:59.369550
9  2020-11-12 20:23:59.369550
10 2020-11-11 20:23:59.369550
11 2020-11-10 20:23:59.369550
12 2020-11-09 20:23:59.369550
13 2020-11-08 20:23:59.369550
14 2020-11-07 20:23:59.369550
15 2020-11-06 20:23:59.369550
16 2020-11-05 20:23:59.369550
17 2020-11-04 20:23:59.369550
18 2020-11-03 20:23:59.369550
19 2020-11-02 20:23:59.369550

In [22]:
df['day_of_week'] = df['day'].dt.day_name()
df.head()

                         day day_of_week
0 2020-11-21 20:23:59.369550    Saturday
1 2020-11-20 20:23:59.369550      Friday
2 2020-11-19 20:23:59.369550    Thursday
3 2020-11-18 20:23:59.369550   Wednesday
4 2020-11-17 20:23:59.369550     Tuesday

In [23]:
weekday_map = {'Monday':1,
               'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7
}

In [24]:
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head(10)

                         day day_of_week  day_ordinal
0 2020-11-21 20:23:59.369550    Saturday            6
1 2020-11-20 20:23:59.369550      Friday            5
2 2020-11-19 20:23:59.369550    Thursday            4
3 2020-11-18 20:23:59.369550   Wednesday            3
4 2020-11-17 20:23:59.369550     Tuesday            2
5 2020-11-16 20:23:59.369550      Monday            1
6 2020-11-15 20:23:59.369550      Sunday            7
7 2020-11-14 20:23:59.369550    Saturday            6
8 2020-11-13 20:23:59.369550      Friday            5
9 2020-11-12 20:23:59.369550    Thursday            4

#### Advantages
    1.Keeps the semantical information of the variable (human readable content)
    2.Straightforward
#### Disadvantages
    1.Machine learning algorithms can misinterpret the information intended by labels